body{
    margin: 0px;
    font-family: 'Catamaran', sans-serif;
}
h3{
    margin:0;
}
input{
    outline: none;
}
.overlap{
    position:relative;
    top:120px;
}

.inputround{

    font-weight:300;
    font-size:30px;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border: 0px solid #ffffff;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}
input:focus{
    border: 1px solid #92ff8a;
}

.inputshort{
    width: 96px;
}

.inputmiddle{
    width:75px;
}

.inputlong{
    width: 250px;
}

.leftcolumn{
    float:left;
    padding-left: 20px;
    padding-bottom: 20px;
}


.rightcolumn{
    float:right;
    padding-right: 20px;
    padding-bottom: 20px;
}
#rake{
    width: 2em;
    font-size:2em;
}

div#turnierName{
    padding-bottom: 10px;
}

table {
    width: 764px; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

tbody td, thead th {
    width: 140px;
    word-break: normal;
}
tr{
    word-break: break-all;
    border: solid;
    border-width: 1px 0;
}
tr:first-child {
    border-top: none;
}
tr:last-child {
    border-bottom: none;
}
th{
    border: none;
}
table {
    border-collapse: collapse;
}

thead th:last-child {
    width: 156px; /* 140px + 16px scrollbar width */
}

.form-group{
    display: inline-flex;
}

.info-overlap{
    position:relative;
    bottom:200px;
}

.tournament-buttons{
    position: absolute;
    bottom: 0;
    left:500px;
}
#backpic{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -100;
    min-height: 100%;
}
#logo{
    float:right;
    width:15%;
    padding-right: 50px;
    padding-top: 50px;

}

#time-remaining{
    display:inline-block;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 15em;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 5px rgba(255,255,255,1);

}

#screentime{
    text-align: center;
    width:600px;
    position:absolute;
    left: 32%;
}

#nextBreak{
    display: inline;
    color: white;

}
.blinds{
    float: left;
    position:relative;
    bottom:100px;
}

#levelID{
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
    white-space: pre;
    text-shadow: 0 0 1px rgba(255,255,255,1);
    opacity: 0.5;
    float:left;
    font-size: 4em;

}
#blindtext{
    display: inline;
    color: white;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 5px rgba(255,255,255,1);
    padding-right: 1.5em;
    font-size: 3em;
}
#blindamounts{

    color: white;
    white-space: pre;
    text-shadow: 0 0 5px rgba(255,255,255,1);
    padding-right: 1.5em;
    font-size: 3em;
}

#nextBlinds{
    color: white;
    white-space: pre;
    text-shadow: 0 0 5px rgba(255,255,255,1);
    opacity: 0.5;
    font-size: 3em;
}

#left-info{
    float:left;
    color: white;
    white-space: pre-line;
    text-shadow: 0 0 1px rgba(255,255,255,1);
    font-size: 1.4em;
    text-align: left;
}

#right-info{
    float:right;
    color: white;
    white-space: pre-line;
    text-shadow: 0 0 1px rgba(255,255,255,1);
    font-size: 1.4em;
    text-align: right;
}

#prizesheading{
    color: white;
    text-shadow: 0 0 1px rgba(255,255,255,1);
    font-size: 1.4em;
}

#openMe{
    position: relative;
    top: 150px;
}

.form-inline{
    text-align:center;
}

label.labelname{
    padding-right:20px;
}

div.checkbox{
    padding-left: 20px;
}

.wrapper{
    text-align: center;
}


/* The side navigation menu */
.sidenav {
    height: 50%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 80px;
    left: 0;
    background-color: rgb(207, 202, 202); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    /*padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.98);
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #b0a6af;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*
MODAL-SETTINGS
*/

.wrap {
    padding: 40px;
    text-align: center;
}
hr {
    clear: both;
    margin-top: 40px;
    border: 0;
    border-top: 1px solid #aaa;
}
h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

.btn {
    background: #817e80;
    border: #e2dfdd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    /* top: 40em;*/
}
.btn:hover {
    background: #92440a;
}
.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.btn-close {
    color: #aaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.btn-close:hover {
    color: #919191;
}
.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal:target:before {
    display: block;
}
.modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}
.modal-dialog {
    background: rgba(254, 254, 254, 0.84);
    border: #333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 40%;
    top: -80%;
    z-index: 11;
    width: 768px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-body {
    padding: 20px;

}
.modal-header,
.modal-footer {
    padding: 10px 20px;
}
.modal-header {
    border-bottom: #eee solid 1px;
    text-align: center;
}
.modal-header h2 {
    font-size: 20px;
}
.modal-footer {
    border-top: #eee solid 1px;
    text-align: right;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
    display: none;
}


