<!DOCTYPE html>
<html>
<head>
    <title>Poker Tournament Blind Timer</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="src/jquery_2.1.3_jquery.js"></script>
    <script src="src/angularjs_1.5.5_angular.js"></script>
    <script src="js/time.js"></script>
    <script src="js/JSON.tryParse.js"></script>
    <link href='css/roboto.css' rel='stylesheet' type='text/css'>
    <link href='css/catamaran.css' rel='stylesheet'
          type='text/css'>
    <script src="js/timer.js"></script>


</head>
<img id="backpic" src="css/Images/bg.jpg" alt="">
<img id="logo" src="css/Images/logo.png" alt="">
<body ng-app="BlindTimer" ng-controller="TimerController">



<div id="mySidenav" class="sidenav" onmousewheel="closeNav()">
    <a href="#modal-one"><img class="navpic" src="css/Images/options.png"></a>
    <a href="#modal-two"><img class="navpic" src="css/Images/Jeton.png"></a>
    <a href="#modal-three"><img class="navpic" src="css/Images/Player.png"></a>
    <a href="#modal-four"><img class="navpic" src="css/Images/tisch.png"></a>
</div>
<!-- Use any element to open the sidenav -->
<span onmouseover="openNav()" id="openMe">open Nav</span>

<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Turnieroptionen</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">


            <div class="mainTourney">
            <div id="turnierName">
                <input type="text" class="inputround inputlong" name="name" placeholder="Turniername"
                       ng-model="tName"/>
            </div>
            <div id="firstSettings">
                <input type="text" class="inputround inputshort" name="name" placeholder="Buy-In"
                       ng-model="entryFee"/>
                <input type="text" title="Starting Stack" class="inputround inputshort" name="name" placeholder="Stack"
                       ng-model="startingStack"/>
            </div>
            </div>

            <hr style="margin-top:20px">

            <div class="leftcolumn" id="rebuy">
                <h3 class="optionHead">Rebuy</h3>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="€"
                       ng-model="amountR"/>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="Jetons"
                       ng-model="stackR"/>

            </div>

            <div class="rightcolumn" id="add-on">
                <h3 class="optionHead">Add-On</h3>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="€"
                       ng-model="amountA"/>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="Jetons"
                       ng-model="stackA"/>
            </div>

            <hr>

            <div class="leftcolumn" id="staff">
                <h3 class="optionHead">Staff-Bonus</h3>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="€"
                       ng-model="amountSt"/>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="Jetons"
                       ng-model="staffStack"/>
            </div>


        </div>

    </div>
</div>

<div class="modal" id="modal-two" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Blindeinstellungen</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">
            <form class="form-inline" role="form" ng-submit="addBlind()">
                <div class="form-group">

                    <div class="col-md-4">
                        <input type="text" class="inputround inputmiddle" name="small" placeholder="Small Blind"
                               ng-model="small"/>
                    </div>
                    <div class="blindtable">
                        <input type="text" class="inputround inputmiddle" placeholder="Big Blind" value="" ng-model="big"></label>
                    </div>
                    <div class="blindtable">
                    <input type="text" class="inputround inputshort" placeholder="Ante" value="" ng-model="ante">
                </div>
                    <div class="blindtable">
                        <input type="text" class="inputround inputmiddle" placeholder="Length" value="" ng-model="length">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" ng-model="breakbool">Pause?</label>
                    </div>
                    <div class="form-group">
                        <div style="padding-left:20px">
                            <input type="submit" value="Bestätigen" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>


            </form>

        </div>


        <table class="tableSection">
            <tr>
                <th>Small Blind</a>
                </th>
                <th>Big Blind
                </th>
                <th>Ante
                </th>
                <th>Länge</a>
                </th>
                <th>
                    Entfernen
                </th>
            </tr>
            <tr ng-repeat="level in levels  | filter: searchKeyword | orderBy:orderByField:reverseSort">
                <td><input type="text" class="inputtable" ng-model="level.small" value="{{ level.small }}">
                </td>
                <td><input type="text" class="inputtable" ng-model="level.big" value="{{ level.big }}">
                </td>
                <td><input type="text" class="inputtable" ng-model="level.ante" value="{{ level.ante }}">
                </td>
                <td><input type="text" class="inputtable" ng-model="level.length" value="{{ level.length }}">
                </td>
                <td>
                    <input type="button" value="Remove" class="removeBtn" ng-click="removeLevel(level.small)"/>
                </td>
            </tr>
        </table>
        </div>



    </div>

</div>

<div class="modal" id="modal-three" aria-hidden="true"  >
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Spielerübersicht</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">
            <form class="form-inline" role="form" ng-submit="addRow()">
                <div class="form-group">
                    <label class="labelname">Name</label>
                    <div class="col-md-4">
                        <input type="text" class="inputround" name="name"
                               ng-model="name"/>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" ng-model="paid">Bezahlt</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" ng-model="staff">Staff-Bonus</label>
                    </div>
                    <div class="form-group">
                        <div style="padding-left:20px">
                            <input type="submit" value="Bestätigen" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>


            </form>

        </div>


        <table class="tableSection">
            <tr>
                <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a>
                </th>
                <th>Paid
                </th>
                <th>Staff Bonus
                </th>
                <th><a href="" ng-click="orderByField='table'; reverseSort = !reverseSort">Seat</a>
                </th>
                <th>
                    Entfernen
                </th>
            </tr>
            <tr ng-repeat="company in companies  | filter: searchKeyword | orderBy:orderByField:reverseSort">
                <td>{{company.name}}
                </td>
                <td><input type="checkbox" ng-model="company.paid">
                </td>
                <td><input type="checkbox" ng-model="company.staff">
                </td>
                <td><input type="text" class="inputtable" value="{{company.table}}-{{ company.seat }}">
                </td>
                <td>
                    <input type="button" value="Remove" class="removeBtn" ng-click="removeRow(company.name)"/>
                </td>
            </tr>
        </table>
        <br>
        <div class="wrapper">
            <input type="button" value="Plätze zuweisen" style="text-align:center" class="btn btn-primary"
                   ng-click="assignSeats()"/>
        </div>
        <div class="wrapper">
            <input type="button" value="Plätze Löschen" style="text-align:center" class="btn btn-primary"
                   ng-click="clearSeats()"/>
        </div>

    </div>



</div>


<div class="modal" id="modal-four" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Seating Chart</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">
    <div id="seatingPart">
            <div class="seatingRow">
                <h4 class="seatTitle">Table 1</h4>
                <ul >
                    <li class="container" ng-repeat="company in companies | filter: { table: '1' } | orderBy: 'seat'"><span class="transText"><span class="tableNo">{{company.seat}}</span> {{company.name}}</span>
                        <div class="textbox">
                            <input type="image" src="css/Images/fileclose.png" name="saveForm" class="delBtn" ng-click="removeRow(company.name)" />
                            <input type="image" src="css/Images/rebuy.png" name="saveForm" class="rebuyBtn" ng-click="rebuyPlayer(company.name)" />
                            <input type="image" src="css/Images/rebuystaff.png" name="saveForm" class="reStaffBtn" ng-click="reStaffPlayer(company.name)" />
                        </div>

                    </li>
                </ul>
            </div>
            <div class="seatingRow" ng-show="tableAmount>=1">
                <h4 class="seatTitle">Table 2</h4>
                <ul >
                    <li class="container" ng-repeat="company in companies | filter: { table: '2' } | orderBy: 'seat'"><span class="tableNo">{{company.seat}}</span> {{company.name}}

                        <div class="textbox">
                            <input type="image" src="css/Images/fileclose.png" name="saveForm" class="delBtn" ng-click="removeRow(company.name)" />
                            <input type="image" src="css/Images/rebuy.png" name="saveForm" class="rebuyBtn" ng-click="rebuyPlayer(company.name)" />
                            <input type="image" src="css/Images/rebuystaff.png" name="saveForm" class="reStaffBtn" ng-click="reStaffPlayer(company.name)" />
                        </div></li>
                </ul>
            </div>
            <div class="seatingRow" ng-show="tableAmount>=2">
                <h4 class="seatTitle">Table 3</h4>
                <ul >
                    <li class="container" ng-repeat="company in companies | filter: { table: '3' } | orderBy: 'seat'"><span class="tableNo">{{company.seat}}</span> {{company.name}}
                        <div class="textbox">
                            <input type="image" src="css/Images/fileclose.png" name="saveForm" class="delBtn" ng-click="removeRow(company.name)" />
                            <input type="image" src="css/Images/rebuy.png" name="saveForm" class="rebuyBtn" ng-click="rebuyPlayer(company.name)" />
                            <input type="image" src="css/Images/rebuystaff.png" name="saveForm" class="reStaffBtn" ng-click="reStaffPlayer(company.name)" />
                        </div></li>
                </ul>
            </div>
            <div class="seatingRow" ng-show="tableAmount>=3">
                <h4 class="seatTitle">Table 4</h4>
                <ul >
                    <li class="container" ng-repeat="company in companies | filter: { table: '4' } | orderBy: 'seat'"><span class="tableNo">{{company.seat}}</span> {{company.name}}
                        <div class="textbox">
                            <input type="image" src="css/Images/fileclose.png" name="saveForm" class="delBtn" ng-click="removeRow(company.name)" />
                            <input type="image" src="css/Images/rebuy.png" name="saveForm" class="rebuyBtn" ng-click="rebuyPlayer(company.name)" />
                            <input type="image" src="css/Images/rebuystaff.png" name="saveForm" class="reStaffBtn" ng-click="reStaffPlayer(company.name)" />
                        </div></li>

                </ul>
            </div>

    </div>


        </div>

    </div>

</div>

<section id="screentime">
    <div id="title">{{tName}}</div>
    <div id="levelID" class="overlap">ROUND {{ numberRound }} <span id="runningTime">Next Break {{ breakIt }}</span>
    </div>

    <div id="time-remaining" class="night-hotel">{{ timeRemainingInLevel }}</div>

    <div class="blinds">
        <span id="blindamounts">{{ currentSB }}/{{ currentBB }}</span><span
            id="nextBlinds"> {{ nextSB }}/{{ nextBB }}</span>
    </div>
    <div class="ante" ng-show="nextAnte || currentAnte != 0">
        <span id="anteamount">{{ currentAnte }}</span><span id="nextAnte">{{ nextAnte }}</span>
    </div>
    <div id="left-info" class="info-overlap">
        <div class="prizeinfo">
            <span class="prize">Entries:  {{ entries }}</span><br>
            <span class="prize">Players In:  {{ playersIn }}</span><br>
            <span class="prize">Chip Count: {{ chipCount }}</span><br>
            <span class="prize">Average Stack: {{averageStack }}</span><br>
            <span class="prize">Total Prizepool: {{ roundedPrize }} €</span><br>
            <span class="prize" ng-show="tRebuy">Rebuys: {{ elapsedTime }}</span><br>
            <span class="prize" ng-show="tAddon">Addons: {{ elapsedTime }}</span><br>
        </div>
    </div>
    <div id="right-info" class="info-overlap">
        <div class="prizeinfo">
            <span id="prizesheading">PRIZES</span><br>
            <span class="prizesmall">1st Place: {{ firstPlace }}€</span><br>
            <span class="prize">2nd Place: {{secondPlace }}€</span><br>
            <span class="prize">3rd Place: {{ thirdPlace }}€</span><br>
            <span class="prize" ng-show="fourthPlace != 0">4th Place: {{ fourthPlace }}€</span><br>
            <span class="prize" ng-show="fifthPlace != 0">5th Place: {{ fifthPlace }}€</span><br>
        </div>
    </div>


    <div class="middle">
        <img class="btnPic" id="playBtn" src="css/Images/play.png" ng-click="startTournament()">
        <img class="btnPic" id="pauseBtn" src="css/Images/pause.png" ng-click="pauseTournament()">
        <br>
        <button class="reset" ng-click="resetTournament()">Reset Tournament</button>
    </div>


</section>
<br>

</body>
</html>
