<!DOCTYPE html>
<html>
<head>
    <title>Poker Tournament Blind Timer</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/time.js"></script>
    <script src="js/JSON.tryParse.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,900,800,500,600,700' rel='stylesheet'
          type='text/css'>
    <script src="js/timer.js"></script>


</head>
<img id="backpic" src="CSS/images/background.jpg" alt="">
<img id="logo" src="CSS/images/logo.png" alt="">
<body ng-app="BlindTimer">

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onmousedown="closeNav()">&times;</a>
    <a href="#modal-one">Turnieroptionen</a>
    <a href="#modal-two">Blinds</a>
    <a href="#modal-three">Spieler</a>
    <a href="#modal-four">Seating</a>
</div>
<!-- Use any element to open the sidenav -->
<span onmouseover="openNav()" id="openMe">open Nav</span>

<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Turnieroptionen</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">


            <div class="leftcolumn">
            <div id="turnierName">
                <input type="text" class="inputround inputlong" name="name" placeholder="Turniername"
                       ng-model="tName"/>
            </div>
            <div id="firstSettings">
                <input type="text" class="inputround inputshort" name="name" placeholder="Buy-In"
                       ng-model="buyIn"/>
                <input type="text" class="inputround inputshort" name="name" placeholder="Stack"
                       ng-model="startStack"/>
                <input type="text" class="inputround" id="rake" name="name" placeholder="Rake"
                       ng-model="rake"/>
            </div>
            </div>

            <hr>

            <div class="leftcolumn" id="rebuy">
                <h3>Rebuy</h3>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="€"
                       ng-model="buyIn"/>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="Jetons"
                       ng-model="buyIn"/>

            </div>

            <div class="rightcolumn" id="add-on">
                <h3>Add-On</h3>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="€"
                       ng-model="buyIn"/>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="Jetons"
                       ng-model="buyIn"/>
            </div>

            <hr>

            <div class="leftcolumn" id="staff">
                <h3>Staff-Bonus</h3>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="€"
                       ng-model="buyIn"/>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="Jetons"
                       ng-model="buyIn"/>
            </div>

            <div class="rightcolumn" id="cc">
                <h3>CC-Jackpot</h3>
                <input type="text" class="inputround inputmiddle" name="name" placeholder="Buy-In"
                       ng-model="buyIn"/>
            </div>


        </div>

        <br><br><br>
        <div class="modal-footer">
            <a href="#close" class="btn">Close</a>  <!--CHANGED TO "#close"-->
        </div>
    </div>
</div>

<div class="modal" id="modal-two" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Blindeinstellungen</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">


        </div>


        <div class="modal-footer">
            <a href="#close" class="btn">Close</a>  <!--CHANGED TO "#close"-->
        </div>
    </div>

</div>

<div class="modal" id="modal-three" aria-hidden="true" ng-controller="CompanyCtrl" >
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Spielerübersicht</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">
            <form class="form-inline" role="form" ng-submit="addRow()">
                <div class="form-group">
                    <label class="labelname">Name</label>
                    <div class="col-md-4">
                        <input type="text" class="inputround" name="name"
                               ng-model="name"/>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" ng-model="paid">Bezahlt</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" ng-model="staff">Staff-Bonus</label>
                    </div>
                    <div class="form-group">
                        <div style="padding-left:20px">
                            <input type="submit" value="Bestätigen" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>


            </form>

        </div>


        <table class="tableSection">
            <tr>
                <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a>
                </th>
                <th>Paid
                </th>
                <th>Staff Bonus
                </th>
                <th><a href="" ng-click="orderByField='seat'; reverseSort = !reverseSort">Seat</a>
                </th>
                <th>Time Out
                </th>
                <th>
                    Entfernen
                </th>
            </tr>
            <tr ng-repeat="company in companies  | filter: searchKeyword | orderBy:orderByField:reverseSort">
                <td>{{company.name}}
                </td>
                <td><input type="checkbox" ng-model="company.paid">
                </td>
                <td><input type="checkbox" ng-model="company.staff">
                </td>
                <td>{{company.table}}-{{ company.seat }}
                </td>
                <td>{{company.out}}
                </td>
                <td>
                    <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(company.name)"/>
                </td>
            </tr>
        </table>
        <br>
        <div class="wrapper">
            <input type="button" value="Plätze zuweisen" style="text-align:center" class="btn btn-primary"
                   ng-click="assignSeats()"/>
        </div>

        <div class="modal-footer">
            <a href="#close" class="btn">Close</a>  <!--CHANGED TO "#close"-->
        </div>
    </div>



</div>


<div class="modal" id="modal-four" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Seating Chart</h2>
            <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">


        </div>


        <div class="modal-footer">
            <a href="#close" class="btn">Close</a>  <!--CHANGED TO "#close"-->
        </div>
    </div>

</div>

<section id="screentime" ng-controller="TimerController">
    <div id="levelID" class="overlap">ROUND {{ currentLevelId+1 }}</div>


    <div id="time-remaining" class="night-hotel">{{ timeRemainingInLevel }}</div>

    <div class="blinds">
        <h2 id="blindtext">Blinds</h2><span
            id="blindamounts"> {{ currentSB }} / {{ currentBB }} {{ currentAnte }}</span><span id="nextBlinds"> {{ nextSB }} / {{ nextBB }} {{ nextAnte }}</span>
    </div>

    <div id="left-info" class="info-overlap">
        <div class="prizeinfo">

            <span class="prize">Players In:  {{ playersIn }}</span>
            <span class="prize">Chip Count: {{ chipCount }}</span>
            <span class="prize">Average Stack: {{averageStack }}</span>
            <span class="prize">Total Prizepool: {{ totalPrize }} €</span>
            <span class="prize">Running for: {{ elapsedTime }}</span>
            <span class="prize">Next Break {{ breakIt }}</span>

        </div>
    </div>
    <div id="right-info" class="info-overlap">
        <div class="prizeinfo">

            <span class="prize">PRIZES</span>
            <span class="prize">{{ firstPlace }}</span>
            <span class="prize">{{ secondPlace }}</span>
            <span class="prize">{{ thirdPlace }}</span>
            <span class="prize">{{ fourthPlace }}</span>
            <span class="prize">{{ fifthPlace }}</span>

        </div>


    </div>
    <button class="start" ng-click="startTournament()">Start Tournament</button>
    <button class="reset" ng-click="resetTournament()">Reset Tournament</button>
    <button class="pause" ng-click="pauseTournament()">Pause Tournament</button>
</section>
<br>

</body>
</html>
